{% extends "theme_bootstrap/base.html" %}

{% block styles %}
    {% include "_styles.html" %}
<style>
    .cover {
        position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0 auto;
    }
</style>
{% endblock %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}
{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}"><img src='/site_media/static/logo.png'></a>{% endblock %}

{% block head_title_base %}{% block head_title %}CP Login{% endblock %}{% endblock %}
{% block nav %}

{% endblock %}

{% block account_bar %}{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-4">
            <form id="signup_form" method="post" action="/account/cplogin/" autocapitalize="off">

                <legend>{% trans "Login" %}</legend>
                {% if error %}
                    <div class="alert alert-danger">

                                The email address and/or password you specified are not correct.
                     </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group" id="emailid" >
                    <input name="email"  type="email" id="email" class="form-control" placeholder="Email" required="" >
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required="">
                </div>

                <input type="hidden" name="post" value="yes" />
                <button type="submit" onclick="spinnerOn()" class="btn btn-primary">Login</button>

            </form>

        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
<!--When server take time to load , loader will work-->
     function spinnerOn()
    {
       document.getElementById('cover').style.display="block";
    }
    </script>
{% endblock %}

{% block footer %}{% include "_footer.html" %}{%endblock%}