{% extends "theme_bootstrap/base.html" %}

{% block styles %}
    {% include "_styles.html" %}
<style>
    .cover {
        position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0 auto;
    }
</style>
{% endblock %}


{% load i18n %}
{% load bootstrap %}
{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}"><img src='/site_media/static/logo.png'></a>{% endblock %}

{% block head_title_base %}{% block head_title %}CP Login{% endblock %}{% endblock %}
{% block nav %}

{% endblock %}

{% block account_bar %}
<ul class="nav navbar-nav pull-right">
    {% if request.session.contentprovider %}
        <p class="navbar-text">
            <i class="fa fa-user"></i> {{user.first_name}} {{user.last_name}}
        </p>
        <li>
            <a  href="/account/loadcsvfile/"><i class="fa fa-cog"></i> {% trans "Load CSV" %}</a>
        </li>
        <li>
            <a  href="/account/cplogout/"><i class="fa fa-cog"></i> {% trans "Logout" %}</a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-4">

            <form  method="post" action="/account/cpresetpassword/" enctype='multipart/form-data' >
                <legend>{% trans "Reset Your Password" %}</legend>
                {% if success %}
                    <div class="alert alert-success">
                          Password has been reset successfully.!!
                     </div>
                {% endif %}

                {% if error %}
                    <div class="alert alert-danger">
                          Please try again your password is not updated.!!
                     </div>
                {% endif %}

                {% csrf_token %}
                <div class="form-group">
                    <input id="password" name="password" pattern=".{5,}" title="Minimum 5 characters required" type="password" class="form-control" placeholder="Password" required="">
                </div>

                <div class="form-group">
                    <input name="password_2" oninput="check(this)" pattern=".{5,}" title="Minimum 5 characters required" type="password" class="form-control" placeholder="Retype Password" required="">
                </div>
                <button type="submit"  onclick="spinnerOn()" class="btn btn-primary">Reset Password</button>
            </form>
        </div>

    </div>





{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script language='javascript' type='text/javascript'>
    <!--password and confirm password is matching or not-->
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
    $('#parentform').validator()

<!--When server take time to load , loader will work-->
    function spinnerOn()
    {
       document.getElementById('cover').style.display="block";
    }
    </script>
{% endblock %}

{% block footer %}{% include "_footer.html" %}{%endblock%}