{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load calendarium_tags %}

{% block extra_head %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
{% endblock %}

{% block body_class %}account account-posting-schedule{% endblock %}

{% block head_title %}{% trans "Calendar" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-10">
            <legend>{% trans "Calendar" %}</legend>
            <div id="calendar" class="animated animated-sm bounceInUp">
                <h2><small>Manage your social media publications for {{ date|date:"F Y" }}</small></h2>
                <form action="." method="post">
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" name="previous" value="{% trans "Previous" %}" />
                    <input class="btn btn-default" type="submit" name="next" value="{% trans "Next" %}" />
                    <input class="btn btn-default" type="submit" name="today" value="{% trans "Today" %}" />
                </form>
                <table class="table" id="calendar-month">
                    <tr>
                        {% for weekday in weekdays %}
                            <th>{{ weekday }}</th>
                        {% endfor %}
                    </tr>
                    {% for week in month %}
                        {% if week %}
                            <tr>
                                {% for day, occurrences, current in week %}
                                    <td class="{% if day == 0 %}calendarium-empty{% elif current %}calendarium-current{% else %}calendarium-day{% endif %}">
                                        <div class="calendarium-relative">
                                            {% if day != 0 %}
                                                <span class="calendarium-date">{{ day }}</span>
                                                {% for occurrence in occurrences %}
                                                    <p class="alert" style="background-color: #{{ occurrence.event.category.color }}">
                                                        <a title="{{ occurrence }}" href="{% url "calendar_occurrence_detail" pk=occurrence.event.pk year=occurrence.start.year month=occurrence.start.month day=occurrence.start.day %}">{{ occurrence|truncatechars:22 }}</a>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
{% endblock %}