{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load calendarium_tags %}

{% block extra_head %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
{% endblock %}

{% block body_class %}account account-posting-schedule{% endblock %}

{% block head_title %}{% trans "Calendar" %}{% endblock %}

{% block body %}
    <div class="clearfix" style="margin-bottom:20px;"><button class="btn btn-primary pull-right js-get-posts">Get New Posts</button></div>
    <div id="calendar"></div>

    <div id="publish-portal" class="modal in fade" role="dialog" tabindex="-1" aria-labelledby="publish-portal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <br/>
              <h2> POST </h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
            </div>
          </div>
          <div class="modal-body">
            <h3 class="title"> </h3>
            <p class="content "> </p>
          </div>
          <div id="user_social_info">
          </div>
          <div class="clearfix"> </div>
          <div class="fotter modal-footer">
            <button type='button' class='btn btn-danger pull-right btn-sm col-sm-2 js-reject-content'>
              Reject
            </button>
            <button type='button' class='btn btn-primary pull-right btn-sm col-sm-2 js-approve-content'>
              Approve
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="support-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Please contact support
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
{% endblock %}
