{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-voice{% endblock %}

{% block head_title %}{% trans "Voice" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5 animated animated-sm bounceInUp">
            <form method="POST" action="{% url "voice_settings" %}">
                <legend>{% trans "Voice" %}</legend>
                <h2><small>Manage your voice settings</small></h2>
                {% csrf_token %}
                {{ form|bootstrap }}
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}