{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}SimplyPosted Portal | Real Estate Social Media Management{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1 class="text-center">{% blocktrans %}Social Media Marketing
Built For <br>Real Estate Professionals{% endblocktrans %}</h1>
            <p class="text-center">
                {% blocktrans %}
                We'll amplify your Brokerage's reach through Social Media. Team with partners, employees, influencers and other brand advocates and distribute your content out through their social networks.
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="text-center">{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to manage your service.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Daily Social Media Posts{% endblocktrans %}</h2>
            <p class="text-center">
                {% blocktrans %}
                Let us handle your social media so you can spend your time where it matters, with your clients.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <img src='/site_media/static/content.png' height="186">
                    {% blocktrans %}
                    <h1>Engaging Content</h1> Our team posts engaging content related to the Mortgage & Real Estate industries so people start talking about your services.
                    {% endblocktrans %}
                </div>
                <div>
                    <img src='/site_media/static/time.png'>
                    {% blocktrans %}
                    <h1>We Save You Time</h1> Regular postings happen without you worrying about a thing! We determine best times to post & engage with prospects.
                    {% endblocktrans %}
                </div>
                <div>
                    <img src='/site_media/static/analytics.png'>
                    {% blocktrans %}
                    <h1>Sophisticated Analytics</h1> It's not enough to only measure social likes and comments. Data from your social channels is displayed on a simple and intuitive dashboard.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
